{%- if site.is_government == false -%}
<section class="bp-section bp-masthead is-invisible">
{%- else -%}
<section class="bp-section bp-masthead">
{%- endif -%}
    <div class="bp-container">
        <div class="row is-multiline is-vcentered masthead-layout-container">
            <div class="col is-9-desktop is-12-touch has-text-centered-touch">
                <div class="masthead-layout" id="bp-masthead">
                    <span class="sgds-icon sgds-icon-sg-crest is-size-5" style="color:red"></span>
                    <span style="display: table-cell; vertical-align: middle">
                        <span class="banner-text-layout">
                            <span class="is-text">
                                A FrontHAUS Website <b>[NOTE: THIS IS <u>NOT</u> A GOVERNMENT WEBSITE]</b>
                                &ensp;
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>